@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Golos Text", serif;
  font-weight: 300;
  box-sizing: border-box;
}

.registration-form {
  max-width: 600px;
  width: 100%;
  padding: 20px;
  height: 100%;
  background-color: #f9f9f9;
  border: none;
  position: absolute;
  right: 0;
  font-size: 18px;
}

h2 {
  text-align: center;
  font-weight: 500;
  margin-bottom: 50px;
}

.registration-form div {
  margin-bottom: 15px;
}

.registration-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 18px;
}

.registration-form input {
  max-width: 300px;
  width: 100%;
  padding: 10px;
  border: none;
  font-size: 16px;
  outline: none;
  border-radius: 10px;
  background-color: white;
}

.registration-form .password-toggle {
  background: none;
  border: none;
  cursor: pointer;
}

.registration-form .error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  display: block;
}

.registration-form .buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.registration-form button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
}

.registration-form button[type="submit"] {
  background-color: #2B2B2B;
  color: #f9f9f9;
  border-radius: 10px;
  width: 150px;
  height: 50px;
  text-align: center;
  transition: 0.5s;
}

.registration-form button[type="reset"] {
  color: #2B2B2B;
  background: none;
  border-radius: 10px;
  width: 150px;
  height: 50px;
  text-align: center;
  transition: 0.5s;
}

.registration-form button[type="submit"]:hover {
  color: #2B2B2B;
  background-color: #f9f9f9;
  border: 1px solid #2B2B2B;
}

.registration-form button[type="reset"]:hover {
  color: #f9f9f9;
  background-color: #2B2B2B;
  border: none;
}

.for_auth {
  color: #2B2B2B;
  border: 1px solid #2B2B2B;
  background: none;
  border-radius: 10px;
  width: 150px;
  height: 50px;
  text-align: center;
  transition: 0.5s;
}

.for_auth:hover {
  color: #f9f9f9;
  background-color: #2B2B2B;
  border: none;
}

.login-redirect {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
}

.login-link {
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
}

.login-link:hover {
  color: #0056b3;
}

.inp_pass {
  display: flex;
  gap: 10px;
}

.video-background {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
}

.for_all {
  max-width: 400px;
  margin: 0 auto;
}

.form_auto {
  background-color: #f9f9f9;
  position: absolute;
  right: 0;
  max-width: 600px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.mail_auto input {
  width: 300px;
  background-color: white;
  border: none;
  border-radius: 10px;
  display: flex;
  gap: 20px;
  padding: 10px;
  font-size: 16px;
  outline: none;
}

.auto_pass {
  display: flex;
  gap: 10px;
}

.auto_vis {
  background-color: #f9f9f9;
  border: none;
  outline: none;
  cursor: pointer;
}

.agreement-checkbox label {
  display: flex;
  font-size: 14px;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

.agreement-checkbox input {
  height: 20px;
  width: 20px;
}

/* Стили для модального окна */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  max-width: 400px;
  width: 100%;
}

.modal-content h3 {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
}

.modal-content input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
}

.modal-content button {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: #2B2B2B;
  color: #f9f9f9;
  cursor: pointer;
  font-size: 16px;
  transition: 0.5s;
}

.modal-content button:hover {
  background-color: #f9f9f9;
  color: #2B2B2B;
  border: 1px solid #2B2B2B;
}